<!DOCTYPE html>
<html>
<head>
    <title> Tasks </title>
    <link rel="stylesheet" href="./index/style.css" type="text/css" /> 
</head>


<body>
    <header>
        <h1>Benvenuto {{ user }}</h1>
        <p>Qui potrai creare, visualizzare e modificare i comandi per il tuo assistente vocale personalizzato! </p>
    </header>
    
    <nav>
        <a href="{{ url_for('add') }}">Crea</a>
    
    </nav>

    {% for section in sections %}
    <div class="section">
        <form>
            <label class="switch"> <!-- onclick="toggleEnabled(this)" -->
                <span class="slider {% if section['enabled'] == True %}active{% endif %}"></span>
            </label>
            <div class="name-description">
                <div class="name">{{ section["name"] }}</div>
            </div>

            <div>
                <div class="description">{{ section["description"] }}</div>
            </div>
            <button class="edit-button">Modifica</button>
        </form>

    </div>
    {% endfor %}

    <script>
        function toggleEnabled(switchElement) {
            let slider = switchElement.querySelector(".slider");
            slider.classList.toggle("active");
        }
    </script>

</body>




</html>